  // This import gives you access to all the Harmony variables and mixins from qbo-ui
@import "pluginVariables";

.starter {
    margin: 30px;

    .heading {
        display: table-cell;
        vertical-align: middle;

        // From _variables.scss in QBO-UI
        @include helvetica-bold;
        font-size: $pageTitle;
    }

    .sampleImage {
        display: table-cell;
        background: url("../images/starter.png") no-repeat 0 0 transparent;
        background-size: 70%;
        height: 63px;
        width: 90px;
    }

}
