@font-face {
  font-family: "DINNextLTPro-Regular";
  src: url("../fonts/DINNextLTPro-Regular.woff") format("woff");
}
@font-face {
  font-family: "DINNextLTPro-Medium";
  src: url("../fonts/DINNextLTPro-Medium.woff") format("woff");
}
@font-face {
  font-family: "DINNextLTPro-Light";
  src: url("../fonts/DINNextLTPro-Light.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue-Roman";
  src: url("../fonts/HelveticaNeueLTW1G-Roman.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeueLTW1G-Bd.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../fonts/HelveticaNeueLTW1G-Lt.woff") format("woff");
}
@font-face {
  font-family: "HelveticaNeue-Italic";
  src: url("../fonts/HelveticaNeueLTW1G-It.woff") format("woff");
}
/* line 4, ../sass/Starter.scss */
.starter {
  margin: 30px;
}
/* line 7, ../sass/Starter.scss */
.starter .heading {
  display: table-cell;
  vertical-align: middle;
  font-family: "HelveticaNeue-Bold", "HelveticaNeueBold", "Helvetica Neue Bold", "HelveticaNeue", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 2.2rem;
}
/* line 16, ../sass/Starter.scss */
.starter .sampleImage {
  display: table-cell;
  background: url("../images/starter.png") no-repeat 0 0 transparent;
  background-size: 70%;
  height: 63px;
  width: 90px;
}
